@model Practice2.Models.Salary

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Salary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
